@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  
  font-family: 'Poppins', sans-serif;

  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
    margin-right: 5px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}